name: Build and Test
on: [push]
jobs:
  BuildAndTest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: build
        run: bazel build //...
      - name: test
        run: bazel test //...
      - name: benchmark
        run: bazel run -c opt //primes:primes_benchmark

      